---
interface Props {
     linkTitle: string 
     url: string
}

const {
    linkTitle,
    url
} = Astro.props

---

<a href={url} class="bg-gray-600 rounded-2xl p-2" title={linkTitle} target="_blank" >
    <slot/>
</a>

<style>

.border-bonito{
	border: 1px solid rgb(75 85 99);
}

</style>